<h2>Activities</h2>
<p>
    {{controller.message}}
</p>
<section class="container-fluid activities-container">
    <div class="activities-left-half">
        <article>
            <h1>Strava Activity Summary</h1>
            <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/26951887/activity-summary/6e7aa6fe12e9de949523f1e58ded7fe85a649221'></iframe>
        </article>
    </div>
    <div class="activities-right-half">
        <article>
            <h1>Strava Latest Activities</h1>
            <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/26951887/latest-rides/6e7aa6fe12e9de949523f1e58ded7fe85a649221'></iframe>
        </article>
    </div>
    </secion>






