<!--- Page Trip 03/2018-->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-5">
            <h2>Our Trip to Page, AZ</h2>
            <h6>March 30 thru April 1, 2018</h6>
            <div class="row padding" style="margin-top:2rem">
                <img class="center-block" src="/ngApp/images/blog/PageAZ/horseshoe-bend-selfie.png" style="height:450px" alt="Selfie">
            </div>
            <p>This is where we put some basic information about the trip. What was special about it, etc</p>
            <p>We can add more information in a second paragraph or leave as is</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-5">
            <h2>In Pursuit of the Perfect Pot</h2>
            <h6>April 1, 2018</h6>
            <div class="row padding" style="margin-top:2rem">
                <img class="center-block"src="/ngApp/images/blog/PageAZ/kokopelli-music-spirit-pot.png" style="height:250px" alt="pot">
            </div>
            <p>If Highway 89A is considered one of the paths least traveled in Arizona, they clearly were not on our path today. The journey
            began about 3:30 yesterday and ended in a moment of grit determination.</p>
            <p>Yesterday at roadside stop John decided that he would like a Navajo Pot to put in his new office. He has been looking decor,
            and I thought it was a great idea. This was so much better than anything that could be picked up at Hobby Lobby. This would
            have some meaning for him. Who knows, maybe seeing the pot daily will inspire the planning of our next adventure. Needless
            to say, I was all for it, that is until I realized it had to be the perfect pot.</p>
            <p>This morning we hopped on the highway headed back home with the plan to stop at some roadside vendors hoping to find the
            perfect pot. Let’s just say if the government thought we were interesting enough to track even they would have been confused.</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-2" style="margin-top:6rem">
            <img class="center-block" src="/ngApp/images/blog/PageAZ/antelope-canyon-1.png" style="height:200px" alt="antelope-canyons" >
            <p class="mt-2">Hello! We are John & Cindy, thank you for visiting! We love to spend time with eachother & see new places. Please
                take a look at our travels and leave a comment or two!</p>
        </div>
    </div>
    <hr class="my-4">
</div>