<!--- Page Trip 03/2018-->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-9">
            <h2>Our Trip to Page, AZ</h2>
            <h6>March 30 thru April 1, 2018</h6>
            <div class="row padding" style="margin-top:2rem">
                <img src="/ngApp/images/blog/PageAZ/horseshoe-bend-selfie.png" class=img-fluid style="width:100%; height:100%" alt="Selfie">
            </div>
            <p>This is where we put some basic information about the trip. What was special about it, etc</p>
            <p>We can add more information in a second paragraph or leave as is</p>
            <br>
            <a href="/pageaz" class="btn btn-outline-secondary">Read More</a>
        </div>
        <div class="col-lg-3" style="margin-top:6rem">
            <img src="/ngApp/images/blog/PageAZ/antelope-canyon-1.png" class="img-fluid">
            <p class="mt-2">Hello!  We are John & Cindy, thank you for visiting!  We love to spend time with eachother  & see new places.  Please take a look at our travels and leave a comment or two!</p>
        </div>
    </div>
    <hr class="my-4">
</div>