<!-- FROM GIT Hosted Version, Index.html -->
<!DOCTYPE html>
<body>

    <!-- Main Navigation -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img class="logo" src="/images/logos/jchleborad-logo.png" width="170">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/views/resume.html">Resume</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="masthead center-block">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">John Chleborad</h1>
                        <p class="intro-text">Whatever you are, be a good one
                            <br> – Abraham Lincoln</p>
                        <a href="#quote" class="btn btn-circle js-scroll-trigger" style="color: whitesmoke">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <section id="quote" class="mastheadquote" style="padding: 0px">
                    <div class="intro-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 mx-auto">
                                    <h2 class="brand-heading">In Pursuit of Change</h2>
                                    <p class="intro-text">I believe in change, for without it there can be no progress. With change comes a feeling
                                        of uneasiness, apprehension and an unknowing of what the future holds. But when we
                                        embrace change, when we tackle it with all of our core, we become better. And the
                                        world around us becomes better. Simpler.
                                        <br>Extraordinary.</p>
                                    <a href="#footer" class="btn btn-circle js-scroll-trigger" style="color: whitesmoke">
                                        <i class="fa fa-angle-double-down animated"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!--- Footer -->
    <footer id="footer" class="bg-dark" style="padding-top: 0px">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8 d-none d-md-block" style="padding-top: 2px; padding-bottom: 0px">
                    <h4 class="mt-2" style="font-size: 1.2rem">Contact John</h4>
                    <hr class="light">
                </div>
                <div class="col-md-4" style="padding-top: 2px; padding-bottom: 0px">
                    <h4 class="mt-2" style="font-size: 1.2rem">Connect</h>
                        <hr class="light">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="padding-top: 0px; padding-bottom: 0px">
                    <p>
                        <a style="font-size: 1rem" href="tel:+16236965646">iPhone: (623) 696-5646</a>
                    </p>
                    <p>
                        <a style="font-size: 1rem" href="mailto:jchleborad@gmail.com">jchleborad@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-4" style="padding-top: 0px; padding-bottom: 0px">
                    <a href="https://www.linkedin.com/in/jchleborad" style="text-decoration: none" target="_blank">
                        <i class="fab fa-linkedin-in mr-2" style="font-size: 1.4rem"></i>
                    </a>
                    <a href="https://github.com/jchleborad" style="text-decoration: none" target="_blank">
                        <i class="fab fa-github mr-2" style="font-size: 1.4rem"></i>
                    </a>
                    <a href="https://www.thehackhive.com/profile/jchleborad" style="text-decoration: none" title="HackHive" target="_blank">
                        <img class="hackhive mr-2 mb-4" src="/ngApp/images/hackhive23.png">
                    </a>
                    <a href="https://www.strava.com/athletes/jchleborad" style="text-decoration: none" target="_blank">
                        <i class="fab fa-strava" style="font-size: 1.4rem"></i>
                    </a>
                    <!-- <a href="https://twitter.com/jchleborad_" style="text-decoration: none" target="_blank">
            <i class="fab fa-twitter mr-2" style="font-size: 1.4rem"></i>
          </a>
          <a href="https://instagram.com/jchleborad_" style="text-decoration: none" target="_blank">
            <i class="fab fa-instagram mr-2" style="font-size: 1.4rem"></i>
          </a> -->
                </div>
            </div>
        </div>
        <hr class="light">
        <div class="media">
            <div class="media-left">
                <img class="media-left ml-5 mr-2" src="/ngApp/images/logos/chleb-c-logo.png" alt="logo" width="28">
            </div>
            <div class="media-body text-center">
                <span style="font-size: .6em">&copy; IV · XX · MMXVIII - R John Chleborad, all rights reserved</span>
                <p style="font-size: .5em">jchleborad.com</p>
                <hr class="light">
            </div>
            <div class="media-right">
                <img class="media-right ml-2 mr-5" src="/ngApp/images/logos/chleb-c-logo.png" alt="logo" width="28">
            </div>
        </div>
    </footer>

</body>

</html>