<!-- Link to PDF -->
<div class="container-fluid">
    <div class="row jumbotron mt-0">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="/ngApp/images/uploads/John-Chleborad-Resume.pdf" target="_blank">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-cloud-download-alt mr-2"></i>JChleborad - Resumé</button>
            </a>
        </div>
    </div>
</div>

<!-- Resume -->
<resume>
    <div class="container-fluid resume-padding">
        <div class="row">
            <div class="col-lg-12" style="padding-bottom:0%">
                <h2 style="margin-bottom:0%">John Chleborad - Professional Experience</h2>
            </div>
            <div class="col-12 resume-link" style="padding-top:0%; padding-right: 10rem;">
                <hr class="resume-hr-top">
                <Span style="font-size: 1rem">
                    <a href="tel:+16236965646">(623) 696-5646</a> |
                    <a href="mailto:jchleborad@gmail.com">jchleborad@gmail.com</a> |
                    <a href="https://www.linkedin.com/in/jchleborad/">linkedin.com/in/jchleborad</a> |
                    <a href="https://github.com/jchleborad">github.com/jchleborad</a>
                </span>
                <hr class="resume-hr-bottom">
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <strong>
                            <div style="margin-bottom:0.5rem; font-size: 1.7rem; font-variant:small-caps">Leadership & Innovation</div>
                        </strong>
                        <p class="resume-justify">
                            An innovative and unconventional approach to management through empowering people to excel at their jobs, become proactive
                            in their professional and personal growth and encouraging collaboration with peers to make processes
                            run efficiently and more effectively. I have over 25 years of experience working with and consulting
                            for all levels of personnel, from entry-level employees to corporate executives. Resolving issues,
                            introducing new ideas and providing solutions in many environments including office leadership,
                            sales and business consulting. Recognized for motivating others to excel through personal engagement,
                            resolving issues quickly, being fair and honest in decision making and for encouraging employees
                            to self-evaluate and improve their environment; all resulting in the development of trusting
                            relationships and a productive, resourceful, engaging atmosphere.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="resume-hr-top" style="margin-right: 5rem">
                        <strong>
                            <div style="margin-bottom:0.5rem; font-size: 1.7rem; font-variant:small-caps">Key Accomplishments</div>
                        </strong>
                        <ul class="resume-justify-ul">
                            <li>
                                Provided a unique environment for employees that fostered peer collaboration, personal and professional growth opportunities
                                and effectively built positive and honest relationships with personnel in a high-stress high
                                volume office.
                            </li>
                            <li>
                                Provided training, education and consultation in effective safety and quality programs, physical inventory management and
                                controls, and office processes and procedures.
                            </li>
                            <li>
                                Increased window and door sales by over 18% in a down market through developing strong and trusting relationships with account
                                representatives. Successfully negotiated materials and pricing for large long-term projects
                                such as the Phoenix Dream Center.
                            </li>
                            <li>
                                Produced, organized and presented divisional training meetings for Corporate Executives, General Managers, Office Managers
                                and various other levels of employees.
                            </li>
                            <li>
                                Designed, developed and produced pricing catalogs for both the Home Center and traditional distribution markets, ensuring
                                accuracy in both product offering and pricing structures while increasing efficiency and
                                decreasing errors in both the office and production environments. Used graphical and publishing
                                software (Illustrator, Photoshop, Acrobat & QuarkXpress) to develop, maintain and post the
                                catalog for on-line availability.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="resume-hr-top" style="margin-right: 5rem">
                        <div style="margin-bottom:0.5rem; font-size: 1.7rem; font-variant:small-caps">Professional Experience</div>
                        <div class="resume-left" style="font-size: 1.2rem; font-variant:small-caps; margin-bottom: 0%">
                            <strong>Woz U</strong>
                        </div>
                        <div class="resume-date-right" style="font-size: 1.2rem">Oct 2017 - Present</div>
                        <p style="font-size: 1.1rem; font-variant:small-caps">Career Services Representative</p>
                        <p class="resume-justify">
                            Assisting students with personal and professional development for successful employment with a concentration on developing
                            a positive self-image, assessing competitive strengths, appropriate career expectations, teaching
                            job search techniques, understanding of social media presence, preparing for the interview and
                            effective resume preparation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="resume-left" style="font-size: 1.2rem; font-variant:small-caps; margin-bottom: 0%">
                            <strong>Huttig Building Products</strong>
                        </div>
                        <div class="resume-date-right" style="font-size: 1.2rem">Mar - Sept 2017</div>
                        <p style="font-size: 1.1rem; font-variant:small-caps">Inventrory Control Specialist</p>
                        <p class="resume-justify">
                            Managed lumber and millwork inventories through reconciliation of daily cycle counts. Investigated and determined reasons
                            for all discrepancies as they were discovered, managed all issues related to missing or damaged
                            product including facilitating communications between warehouse, yard and office. Managed inventories
                            in various warehouse groupings within the business software and managed and controlled vendor
                            returns and credits. Performed monthly inventory tasks as required by procedure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:0%">
                        <div class="resume-left" style="font-size: 1.2rem; font-variant:small-caps; margin-bottom: 0%">
                            <strong>JELD-WEN Windows & Doors</strong>
                        </div>
                        <div class="resume-date-right" style="font-size: 1.2rem">1993 - 2017 (24 Total Years)</div>
                        <br>
                        <p class="resume-left" style="font-size: 1.1rem; font-variant:small-caps; margin-bottom:0%">Office Management</p>
                        <div class="resume-date-right" style="font-size: 1.1rem; font-variant: small-caps">8 Years</div>
                    </div>
                    <div class="col-lg-12">
                        <p class="resume-justify">
                            Managed an office staff of up to 15 employees including Inside Sales, Customer Service, Accounts Receivable, Accounts Payable,
                            Payroll & general staff.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Provided opportunities for employees to become proactive in their professional and personal growth and encouraged collaboration
                                with peers to make the office processes run efficiently and more effectively.
                            </li>
                            <li>
                                Completed performance reviews and wage evaluations of all office staff. Interviewed potential job candidates and filled positions
                                as required.
                            </li>
                            <li>
                                Managed and maintained business software including data record management, inventory control and pricing and production controls.
                            </li>
                            <li>
                                Used graphical and publishing software to develop and maintain a product catalog for our traditional customer base, reducing
                                the sales cycle time and order entry errors and resulting in improved customer relations
                                and increased sales.
                            </li>
                            <li>
                                Worked with the Information Systems group in creating, launching, maintaining and training on electronic catalogs for Home
                                Center sales.
                            </li>
                            <li>
                                Managed quarterly Physical Inventory in both the computer and warehouse environments, ensuring proper controls, processes
                                and procedures were followed and perpetual/physical counts and costs were accurate for accounting
                                purposes.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:0%">
                        <!-- <strong> -->
                        <p class="resume-left" style="font-size: 1.1rem; font-variant:small-caps; margin-bottom:0%">Regional Sales Representative, Home Center Group</p>
                        <div class="resume-date-right" style="font-size: 1.1rem; font-variant: small-caps">4 Years</div>
                        <!-- </strong> -->
                    </div>
                    <div class="col-lg-12">
                        <p class="resume-justify">
                            Developed, maintained and grew millwork sales in the Home Center environment in the Southwestern US.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Communicated regularly with corporate management regarding new sales, product opportunities and competitor activities.
                            </li>
                            <li>
                                Performed merchandising and coordination of sales for new and existing products and maintained displays and supporting materials
                                for all products sold through the Home Center channels.
                            </li>
                            <li>
                                Oversaw warranty-related concerns including service calls to residential homes, providing assessments and evaluations of
                                issues; repairing when able and referring to a service technician where needed.
                            </li>
                            <li>
                                Maintained effective communication with various levels of management teams at the local and Corporate levels; providing new
                                product information, sales opportunities and assistance with customer relations.
                            </li>
                            <li>
                                Conducted regular product knowledge and informational training sessions for customer groups of various sizes, providing opportunities
                                to develop new business to grow the market share in a down economy.
                            </li>
                            <li>
                                Gained sales in non-conventional markets, such as large commercial projects, through developing strong relationships with
                                decision makers and the customers of my customers.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:0%">
                        <!-- <strong> -->
                        <p class="resume-left" style="font-size: 1.1rem; font-variant:small-caps; margin-bottom:0%">Information Systems Management & Training </p>
                        <div class="resume-date-right" style="font-size: 1.1rem; font-variant: small-caps">4 Years</div>
                        <!-- </strong> -->
                    </div>
                    <div class="col-lg-12">
                        <p class="resume-justify">
                            Directed Information Systems support including software installation, employee training and consultation both onsite and
                            remotely for 14 distribution companies located throughout the United States.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Successfully developed, launched and provided training for office personnel on sales catalog in all distribution companies.
                                <ul>
                                    <li>
                                        Trained and provided support for business software pricing structures.
                                    </li>
                                    <li>
                                        Trained and provided ongoing support for development of locally produced pricing catalogs, including the use of graphical
                                        and publishing software packages.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Assisted company managers in gathering and providing weekly report information including developing and implementing structures
                                for corporate requirements; provided general PC support where required.
                            </li>
                            <li>
                                Participated in the corporate decision-making process for an electronic price catalog implementation in all US Distribution
                                companies.
                            </li>
                            <li>
                                Trained and provided consultation for employees in effective office procedures including inventory management and physical
                                inventory controls, processes and procedures.
                            </li>
                            <li>
                                Produced, organized and presented divisional training meetings for Corporate Executives, General Managers, Office Managers
                                and various other levels of employees.
                            </li>
                            <li>
                                Provided business software support and maintenance and provided office procedure, business process and employee and physical
                                inventory training for two start-up companies.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:0%">
                        <!-- <strong> -->
                        <p class="resume-left" style="font-size: 1.1rem; font-variant:small-caps; margin-bottom:0%">Safety & Quality Management </p>
                        <div class="resume-date-right" style="font-size: 1.1rem; font-variant: small-caps">5 Years</div>
                        <!-- </strong> -->
                    </div>
                    <div class="col-lg-12">
                        <p class="resume-justify">
                            Managed Divisional Safety & Quality programs for 14 distribution companies located throughout the United States.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Successfully developed and implemented programs policies and procedures directed towards continually increasing employee
                                safety in the plants.
                            </li>
                            <li>
                                Produced and presented employee safety meetings at the local and divisional plant levels.
                            </li>
                            <li>
                                Audited and provided remote and onsite consultation and training directed at improving quality in both the customer service
                                and production environments.
                            </li>
                            <li>
                                Presented, establish, and assisted in maintaining a Corporate Customer Service Initiative for employees in all US distribution
                                companies.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:0%">
                        <!-- <strong> -->
                        <p class="resume-left" style="font-size: 1.1rem; font-variant:small-caps; margin-bottom:0%">Inside Sales</p>
                        <div class="resume-date-right" style="font-size: 1.1rem; font-variant: small-caps">3 Years</div>
                        <!-- </strong> -->
                    </div>
                    <div class="col-lg-12">
                        <p class="resume-justify">
                            Performed all duties of the Inside Sales position in a millwork distribution company in a high-volume fast paced environment.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Order entry, quoting, account management, communication with customers.

                            </li>
                            <li>
                                Problem solving and conflict resolution.
                            </li>
                            <li>
                                Worked closely with customers both individually and in a team environment to ensure their needs were met it a timely and
                                efficient manner.
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="resume-hr-top" style="margin-right: 5rem">
                        <strong>
                            <div style="margin-bottom:0.5rem; font-size: 1.7rem; font-variant:small-caps">Education</div>
                        </strong>
                        <p class="resume-justify">
                            <strong>Woz U – </strong>Full Stack.NET Software Development Certification
                            <br/>
                            <strong>Northern Arizona University - </strong>Bachelor of Science in Business
                            <br/>
                            <strong>Arizona State University - </strong>High School Teaching Certification, Business
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-right">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="resume-hr-top" style="margin-right: 5rem">
                        <strong>
                            <div style="margin-bottom:0.5rem; font-size: 1.7rem; font-variant:small-caps">Community Involvement</div>
                        </strong>
                        <p class="resume-justify">
                            Co-founded the Arizona Hawks Lacrosse Club, an unconventional travel team dedicated to giving back to a community of players
                            who cannot afford or wish not to pay the high prices of traditional travel teams.
                        </p>
                        <ul class="resume-justify-ul" style="font-size:.9rem">
                            <li>
                                Developed the logo and color scheme, directed uniform design and assisted with the design and development of the website
                                and social media pages of the club. Managed player and parent communications including hotel,
                                travel and dining accommodations.

                            </li>
                            <li>
                                Produced and edited game highlight film for players wishing to get exposure to colleges, but who are not able or willing
                                to pay the high cost of professionally edited film. Arizona Lacrosse League.
                            </li>
                        </ul>
                        <p class="resume-justify">
                            Volunteered as Pitching Coach, Joy Christian HS Varsity Baseball.
                        </p>
                        <p class="resume-justify">
                            Assistant Head Coach, Glendale Vipers Junior High Lacrosse team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</resume>
<div class="container-fluid">
    <div class="row jumbotron mt-3 mb-0">
        <br>
        <br>
        <br>
    </div>
</div>