<!DOCTYPE html>
<!-- <html ng-app="myApp" lang="en"> -->
<html lang="en">

<head>
  <title>JChleborad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <base href="/" /> -->

  <!-- Bootstrap 4, CSS3 & Scripts-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="/ngApp/css/site.css">
  <link rel="shortcut icon" href="/ngApp/images/favicons/favicon-c.png" type="image/x-icon" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>

<body>

  <!-- Main Navigation -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img class="logo" src="/ngApp/images/logos/chleborad-logo.png" width="190">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ngApp//views/resume.html">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ngApp/views/activities.html">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Travel Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/todo">ToDo List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- ANGULAR SPA VIEWS -->
  <!-- <ui-view></ui-view> -->
  <!-- ./ANGULAR SPA VIEWS -->

  <section class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading">John Chleborad</h1>
            <p class="intro-text">Whatever you are, be a good one
              <br> – Abraham Lincoln</p>
            <a href="#bottom" class="btn btn-circle js-scroll-trigger" style="color: whitesmoke">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Footer -->
  <footer id="bottom" class="bg-dark" style="padding-top: 0px">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-8" style="padding-top: 2px; padding-bottom: 0px">
          <h5 class="mt-2">Contact John</h5>
          <hr class="light">
        </div>
        <div class="col-md-4" style="padding-top: 2px; padding-bottom: 0px">
          <h5 class="mt-2">Connect</h5>
          <hr class="light">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-8" style="padding-top: 0px; padding-bottom: 0px">
          <p>
            <a href="tel:+16236965645">iPhone: (623) 696-5646</a>
          </p>
          <p>
            <a href="mailto:jchleborad@gmail.com">jchleborad@gmail.com</a>
          </p>
        </div>
        <div class="col-md-4" style="padding-top: 0px; padding-bottom: 0px">
          <a href="https://www.facebook.com/jchleborad" target="_blank">
            <i class="fab fa-facebook-f mr-2" style="font-size: .8rem"></i>
          </a>
          <a href="https://twitter.com/jchleborad_" target="_blank">
            <i class="fab fa-twitter mr-2" style="font-size: .8rem"></i>
          </a>
          <a href="https://instagram.com/jchleborad_" target="_blank">
            <i class="fab fa-instagram mr-2" style="font-size: .8rem"></i>
          </a>
          <a href="https://www.linkedin.com/in/jchleborad" target="_blank">
            <i class="fab fa-linkedin-in mr-2" style="font-size: .8rem"></i>
          </a>
          <a href="https://www.strava.com/athletes/jchleborad" target="_blank">
            <i class="fab fa-strava" style="font-size: .8rem"></i>
        </div>
      </div>
    </div>
    <hr class="light-100">
    <div class="media">
      <div class="media-left">
        <img class="media-left ml-5" src="/ngApp/images/logos/chleb-c-logo.png" alt="logo" width="28">
      </div>
      <div class="media-body text-center">
        <!-- <h5 class="media-heading">&copy; MMXVIII - JChleborad-Solutions LLC, all rights reserved</h5> -->
        <span style="font-size: .5em">&copy; MMXVIII - JChleborad-Solutions LLC, all rights reserved</span>
        <p style="font-size: .4em">jchleborad.com</p>
        <!-- <p>jchleborad.com</p> -->
      </div>
    </div>
    <hr class="light-100">
  </footer>

  <!-- App Init -->
  <script src="/ngApp/bundle.js"></script>

  <!-- Controllers -->
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/controllers/siteController.js"></script>

  <!-- Disqus -->
  <script id="dsq-count-scr" src="//jchleborad.disqus.com/count.js" async></script>
</body>

</html>