/* Index.ejs */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Comfortaa', sans-serif;
    color: #222;
    background-color: #f5f5f5;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px
}

.nav-link {
    font-size: 1.1em !important;
}

.logo {
    margin-right: 3px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #d5d5d5;
}

footer p {
    margin-bottom: 0%;
}

footer h5 {
    margin-top: .5em;
}

/* home.html */

.carousel-inner img {
    width: 97%;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

/* Fonts, Buttons & Other Elements */

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.fun {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.gif {
    max-width: 100%;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
    text-decoration: none;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #2163af;
}

.fa-code,
.fa-bold,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fa-cloud-download-alt {
    color: black;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-linkedin-in {
    color: #0077b5;
}

.fa-instagram {
    color: #517fa4;
}

.fa-twitter {
    color: #00aced;
}

.fa-strava {
    color: #fc4c02;
}

.fa-facebook-f:hover,
.fa-linkedin-in:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-strava:hover {
    color: #c8c487;
}

.fa-moose:hover {
    background-color: #c8c487;
    border-radius: 20px;
}

/* resume.html */

.resume-padding {
    padding-left: 5rem;
}

.resume-hr-bottom {
    margin-top: .5rem;
    margin-bottom: 0%;
}

.resume-hr-top {
    margin-top: 0%;
    margin-bottom: .5rem;
}

resume div {
    padding: 0%;
}

.resume-left {
    display: inline-block;
}

.resume-right {
    /* display: inline-block;
    float: right; */
    padding-right: 5rem;
}

.resume-date-right {
    display: inline-block;
    float: right;
    padding-right: 5rem;
}

.resume-justify {
    padding-left: 2rem;
    padding-right: 5rem;
    text-align: justify;
}

.resume-justify-ul {
    padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
}

.resume-link a {
    color: darkslategray;
}

.resume-link a:hover {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

/* activities.html */

.activities-container {
    display: grid;
}

.activities-left-half {
    background: #ff9e2c;
    grid-column: 1;
}

.activities-right-half {
    background: #b6701e;
    grid-column: 2;
}

/* Blog Posts */

.blog-hr {
    border: 0;
    width: 80%;
    color: darkgrey;
    background-color: darkgray;
    height: .1rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---Media Queries --*/

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}

/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('/ngApp/images/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/